<h1>New Search</h1>

<%= form_tag searches_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :keyword, params[:keyword] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<%= link_to 'Back', searches_path %>
